<div class="jar-container">
  <div class="jar">
    <div class="jar-lip"></div>
    <div class="jar-neck"></div>
    <div class="jar-neck-inner"></div>
    <div class="jar jar-inner">
      <div class="jar-shine"></div>
      <div class="jar-fill" style="height: <%= "#{(@jar.current_amount/@jar.end_amount.to_f) * 100}%" %>;">
        <div class="wave"></div>
      </div>
    <div class="label">
      <h6><%= @jar.goal %></h6>
      <h5><%= @jar.current_amount %> / <%= @jar.end_amount %></h5>
    </div>
  </div>
</div>

<div class="coin-banner">
  <div class="coins">
    <% @coins.each do |coin| %>
      <%= form_for @jar, remote: true do |f| %>
        <%= f.hidden_field :coin_value, value: coin.value %> 
        <%= f.submit "#{coin.value}", class: "coin coin-amount"  %>
      <% end %>
    <% end %> 
  </div>
</div>
